[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
black = "*"
langchain = "~=0.3.0"
langchain-core = "~=0.3.0"
langchain-openai = "~=0.3.0"
langchain-experimental = "~=0.0.0"
langchain-community = "~=0.3.0"
qrcode = "*"
langchainhub = "*"
pillow = "*"
pandas = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.13"
